version: '3.8'
services:
  app:
    build: .
    ports:
      - "7000:7000"
    environment:
      - PORT=7000
      - MONGO_URI=mongodb://mongo:27017/kitsu-anime
      - CACHE_ENABLED=true
      - NODE_ENV=production
      - FANART_APIKEY=${FANART_APIKEY}
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
